<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA TÉCNICA</title>
</head>
<body>
    <h1>CRUD DE PERSONAS</h1>
    <div class="container">
        <form action="#" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nom">
            <label for="edad">Edad</label>
            <input type="text" name="edad" id="edad">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" name="nacionalidad" id="nacio">
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>